body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background: #111;
	padding-bottom: 300px;
	overflow-x: hidden;
}

body:before
{
	content: 'Parallax';
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 16em;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: 1px #555;
}

section
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

section h2
{
	margin-left: 200px;
	font-size: 4em;
	color: #fff;
	margin-bottom: 20px;
}

section .container
{
	position: relative;
	width: 1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;       
}


section:nth-child(even) .container
{
	flex-direction: row-reverse;
}


section .container .imgBx
{
	position: relative;
	width: 800px;
	height: 400px;
	overflow: hidden;
	box-shadow: 0 25px 35px rgba(0,0,0,0.1);
	margin-left: -100px;
}

section .container .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
    margin-left: -183px;
}

section .container .content
{
	position: absolute;
	right: 0;
	margin-top: 300px;
	margin-bottom: 40px;
	padding: 40px;
	background: #333;
	z-index: 1;
	max-width: 400px;
	color: #fff;	
	box-shadow: 0 25px 35px rgba(0,0,0,0.1);
	border-bottom: 6px solid #4ac7ff;
}

section:nth-child(even) .container .content
{
	left: 0;
}